
.flow-container .react-flow__node-leftNode {
  width: auto;
  height: 100%;
  padding: 0;
  background: transparent;
  border: none;
}

.flow-container .react-flow__node-rightNode {
  width: auto;
  height: 100%;
  padding: 0;
  background: transparent;
  border: none;
}

.flow-container .react-flow__node {
  padding: 0;
}

.flow-container .react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #555;
}

.flow-container .react-flow__handle:hover {
  background-color: #0070f3;
}

.flow-container .react-flow__edge {
  z-index: 5;
}

.flow-container .react-flow__panel {
  z-index: 15;
}

.flow-container .react-flow__background {
  display: none;
}