# Rust
/target/
**/*.rs.bk
Cargo.lock

# Node/Web
client/node_modules/
client/dist/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
*.bak

# Logs
*.log

# Misc
*.tmp
*.temp

# Allow built web output (uncomment if you want to keep built files)
#!client/dist/
